<div class="body">

    <!-- INÍCIO | Imagens de Fundo -->

    <section class="secao_imagens_fundo">
        <div>
            <span><img class="imagem_fundo_1" src="../assets/1.PNG" alt="Imagem 1"/></span>
        </div>
    </section>

    <section class="secao_imagens_fundo flex-end">
        <div>
            <span><img class="imagem_fundo_2" src="../assets/2.PNG" alt="Imagem 2"/></span>
        </div>
    </section>

    <section class="secao_imagens_fundo flex-end column">
        <div>
            <span><img class="imagem_fundo_3" src="../assets/3.PNG" alt="Imagem 3"/></span>
        </div>
    </section>

    <section class="secao_imagens_fundo flex-end column">
        <div>
            <span><img class="imagem_fundo_4" src="../assets/4.PNG" alt="Imagem 4"/></span>
        </div>
    </section>


    <!-- INÍCIO | Logo e Usuário -->

    <section class="header">
        <img class="logo" src="../assets/Logo-tela-principal.PNG" alt="Logo"/>

        <div class="usuario_informacoes">
            <ul class="menu">   
                <li><img id="imagem_usuario" class="img_usuario" src="../assets/Usuario.png" alt="Imagem Perfil"></li>

                <li><a class="usuario_nome" id="user">Usuário</a>
                    <ul>
                        <form id="selecionarAlterarImagem" class="btn_opcoes_imgUsuario">
                            <li><a><label for="arquivo" class="btn_opcoes_imgUsuario">Selecionar Foto</label>
                            <input type="file" class="UploadImgUsuario" id="arquivo" required ></a></li>
                            <li><a> <button class="btn_opcoes_imgUsuario">Alterar Imagem</button></a></li>

                            <li><a><button class="btn_opcoes_imgUsuario" (click)="nome()"> Nome Usuário </button></a></li>
                            <li><a><button  class="btn_opcoes_imgUsuario" (click)="historico()">Histórico</button></a></li>
                        </form>          
                    </ul>
                </li>      
            </ul>
        </div>
    </section>


    <!-- INÍCIO | Barra de Status -->

    <section class="Barra_Status Barra_Status_Inativo" [ngClass]="cor">
        <p class="Barra_Status_Text" id="horario" >INATIVO</p>
    </section>

    <section class="Barra_Status_Cronometro Borda_Cronometro_Inativo" [ngClass]="border_color">
        <p id="cronometro" class="text_cronometro_tempoTotal"></p> <!-- Mostra o cronômetro e o tempo total -->
    </section>


    <!-- INÍCIO | Informações -->

    <section class="secao_informações"> 
        <h2 class="margin_left_right efeito_digitacao_titulo">Gestão do Tempo | Redes Sociais</h2>
        <p class="margin_left_right">Aqui você poderá controlar quanto tempo passa utilizando aplicativos de redes sociais por dia, durante o trabalho, escola, e em casa. Para isso selecione uma das opções e clique no botão abaixo assim que começar e/ou parar de utilizar redes sociais. </p>
    </section>


    <!-- INÍCIO | Opções Local -->

    <section class="secao_opcoes">
        <h3 class="margin_left_right margin_top_subtitulo">Em que lugar você está no momento: </h3>

        <div class="opcao_local_um">
            <input type="checkbox" class="checkbox" name="horns" (click)="trabalho()">
            <label> Trabalho </label>
        </div>

        <div class="opcoes_local">
            <input type="checkbox" class="checkbox" name="horns" (click)="escola()">
            <label> Escola </label>
        </div>

        <div class="opcoes_local">
            <input type="checkbox" class="checkbox" name="horns" (click)="casa()">
            <label> Casa </label>
        </div>

        <div class="opcoes_local">
            <input type="checkbox" class="checkbox" name="horns" (click)="outro()">
            <label> Outro </label>
        </div>
    </section>


    <!-- INÍCIO | Botões - Iniciar e Parar -->

    <section class="secao_btn_inicio_fim flex-end column ">
        <button (click)="inicio()" class="btn_inicio_fim inicio-btn" [ngClass]="iniciobtn" id="#iniciar"> Início </button>
        <button  (click)="fim()" class=" btn_inicio_fim fim-btn" [ngClass]="fimbtn" id="#fim"> Fim / Parada </button>
    </section> 

</div>




