 <div class="body">

<!-- INÍCIO | Imagens de Fundo -->

<section class="secao_imagens_fundo">
    <div>
        <img class="imagem_fundo_1" src="../assets/imagem_inicio.png" alt="Imagem 1"/>
    </div>
</section>


<!-- INÍCIO | Logo e Usuário -->

<section class="header">
    <img class="logo" src="../assets/Logo.PNG" alt="Logo"/>
</section>

<section class="secao_informações">
    <h2>Entrar na sua Conta:</h2>

        <div class="nome1">
            <label for="name" class="title">Usuário:</label>
            <input class="radius imputTexteNewsLetterNome " id="nome" type="text" placeholder="Digite o nome de usuário" id="nome" name="username" >
        </div>

        <div class="senha2">
            <label for="name" class="title">Senha:</label>
            <input class="radius imputTexteNewsLetterNome" id="senha" type="password" placeholder="Digite a senha">
        </div>

        <div class="enviar">
            <button class="radius btnenviar" (click)="fazerLogin" routerLink="/gestaodotempo" type="submit" > Enviar </button>
        </div>
</section>
</div>


